# Ansible
*.retry

# Galaxy roles
galaxy_roles/

# Mac files
.DS_Store
._*

#pyton plugins
ansible/roles/*/filter_plugins/__pycache__/
ansible/roles/bind_service/filter_plugins/__pycache__/
*.pyc
*.pyo

ansible/.venv
ansible/molecule
ansible/roles/bind_service/.docsible
ansible/roles/bind_install/.docsible
ansible/roles/bind_configure/.docsible
ansible/roles/bind_zones/.docsible
inventory/molecule-test.yml
molecule-test.ini
molecule-test.yml
